<h3>Create and Update Category</h3>
<form class="example-form shadow p-3 mb-5 bg-white rounded" [formGroup]="category" novalidate width="100%">
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name Category" formControlName="name" required minlength="3" maxlength="10" ngDefaultControl>
        <mat-error *ngIf="category.controls['name'].invalid && (category.controls['name'].dirty ||category.controls['name'].touched)">
            <div *ngIf="category.controls['name'].errors.required">Name is Required</div>
            <div *ngIf="category.controls['name'].errors.minlength">Minium 3 Chracters are Required</div>
            <div *ngIf="category.controls['name'].errors.maxlength">Maxium 10 Chracters are Required</div>
        </mat-error>
      </mat-form-field>


      <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit" *ngIf="CheckCreate" (click)="addCategory()">Submit</button>
            <button mat-raised-button color="primary" type="submit" *ngIf="CheckUpdate" (click)="updateCustomer()">Update</button>
            <button mat-raised-button color="warn" type="submit" (click)="back()" >Back</button>
        </div>
    </section>
</form>