<div class="container-fluid">
  <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <h1>Test</h1>
        <ul>
          <li><a routerLink="/pets">Showlist Pet</a></li>
          <li><a routerLink="/pets/create">Create Pet</a></li>
          <li><a routerLink="/categories">Showlist Categories</a></li>
          <li><a routerLink="/categories/create">Create Categories</a></li>
          <li><a routerLink="/tags">Showlist Tag</a></li>
          <li><a routerLink="/tags/create">Create Tag</a></li>
        </ul>
        <router-outlet></router-outlet>
      </div>
      <div class="col-1"></div>
  </div>
</div>