<p>show-list-pet works!</p>

<h3>Show list Pet</h3>
<button mat-raised-button color="primary" (click)="availablePet()">Show list Available</button>
<button mat-raised-button color="primary" (click)="pendingPet()">Show list Pending</button>
<button mat-raised-button color="primary" (click)="soldPet()">Show list Sold</button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element">
              <div *ngFor=" let i of element.photoUrls">
                <img src="{{i}}" width="100%">
              </div>
            </td>
      </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="categories-name">
        <th mat-header-cell *matHeaderCellDef> Category name</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf= "element.category">{{element.category.name}}</div>
          </td>
    </ng-container>


    <ng-container matColumnDef="tags-name">
        <th mat-header-cell *matHeaderCellDef> Tag Name </th>
          <td mat-cell *matCellDef="let element">
              <div *ngFor= " let i of element.tags">
                  {{i.name}}
              </div>
          </td>
    </ng-container>
    
    
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          <button mat-raised-button color="primary" type="submit" (click)="editPet(element.id)">Edit</button>
          <button mat-raised-button color="accent" type="submit"  (click)="deletePet(element.id)" >Delete</button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
